
#mainnavbar
{

}
#n{
  height: 50px;
}

#CONT{
  padding-top: 100px;
}
#txt{
  padding-top: 300px;
  color: white;
  font-size: 3rem;
  text-shadow: 5px 5px #800033;

}
#IMG{
  height: 700px;

}
#carouselExampleCaptions{

}
h1{
  align-content: center;
}
#pack{
  font-size: 4rem;
  text-shadow: 6px 6px black;
  
}
#header{
  background-image: linear-gradient(orange,white,green);
 font-size: 4rem;
 text-shadow: 2px 2px red;
}
#sec
{
  height: 350px;
}
footer{
  background-color: grey;
}
#mainnavbar{
  background-image: linear-gradient(orange,white,green);
}
body{
  background-image: linear-gradient(orange,white,green);
}